<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.1" targetFramework="wp71" />
  <package id="Caliburn.Micro.BindableAppBar" version="1.0.3.0" targetFramework="wp71" />
  <package id="Google.Apis" version="1.2.4737.25317" targetFramework="wp71" />
  <package id="Microsoft.Data.OData.WindowsPhone" version="5.0.0.0" targetFramework="wp71" />
  <package id="Microsoft.Data.Services.Client.WindowsPhone" version="5.0.0.0" targetFramework="wp71" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="4.0.8" targetFramework="wp71" />
</packages>